/* Base Styles */

body, html {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #56CBF9;
  font-family: 'Poppins', sans-serif;
}

/* Titles */
h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
}

/* Header */

.hero-image {
  background-image: url("../images/daniil-silantev-F6Da4r2x5to-unsplash.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-image .btn {
   position: absolute;
   bottom: 0;
   left: 50%;
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   background-color: Transparent;
   color: white;
   font-size: 16px;
   padding: 12px 24px;
   border: white;
   cursor: pointer;
   border-radius: 5px;
   text-align: center;
}

.btn:hover {
    color: whitesmoke;
}

/* Navigation Bar */

.dropbtn {
    background-color: Transparent;
    color: white;
    padding: 16px 20px;
    border-radius: 5px;
}

.dropbtn:hover, .dropbtn:focus {
    color: black;
    background-color: white;
}

.dropdown {
    position: absolute;
    display: inline-block;
    text-align: center;
    top: 8px;
    right: 16px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

/* About */

.my-work-title {
  margin: 50px;
  text-align: center;
  padding-top: 2rem;
  color: white;
}

/* Portfolio */

.row {
    margin: 2rem 1rem;
    margin-bottom: 10rem;
    display: grid;
    grid-gap: 1%;
}

@media only screen and (min-width: 750px) {
  .row {
    grid-template-columns: 1fr 1fr;
    
  }
}

@media only screen and (min-width: 1020px) {
  .row {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Skills */


/* Contact */

.contact {
  text-align: center;
}

/* Footer */

.page-footer {
  width: 100%;
  height: 100%;
  max-height: fit-content;
  text-align: center;
  margin: 0;
  padding: 1rem 0;
  background-color: #666666;
  color: white;
}

.link {
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  transition: all .5s ease-in-out;
}

.link:hover {
  transform: scale(1.5);
}

.copyright {
  padding-top: 5px;
}
