/* Base Styles */

body, html {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #58A4B0;
  font-family: 'Poppins', sans-serif;
}

a {
  color: white;
}

a:hover {
  color: #58A4B0;
}

/* Titles */
h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
}

/* Header */

.hero-image {
  background-image: url("../images/daniil-silantev-F6Da4r2x5to-unsplash.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text h1 {
  font-size: 4rem;
}

.hero-text p {
  font-size: 1.5rem;
}

.hero-image .btn {
   position: absolute;
   bottom: 0;
   left: 50%;
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   background-color: Transparent;
   color: white;
   font-size: 16px;
   padding: 12px 24px;
   border: white;
   cursor: pointer;
   border-radius: 5px;
   text-align: center;
}

.btn:hover {
    color: #58A4B0;
}

/* Navigation Bar */

.navbar-nav {
  flex-direction: row;
}

.navbar-nav li {
  padding-left: 2rem;
}

.dropbtn {
    background-color: Transparent;
    color: white;
    padding: 16px 20px;
    border-radius: 5px;
}

.dropbtn:hover, .dropbtn:focus {
    color: black;
    background-color: white;
}

.dropdown {
    position: absolute;
    display: inline-block;
    top: 8px;
    left: 16px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

/* Media Queries for Navigation Bar */

@media only screen and (min-width: 750px) {
  .dropdown {
    display: none;
  }
}

@media only screen and (max-width: 750px) {
  .navbar {
    display: none;
  }
}

/* Portfolio */

.my-work-title {
  margin: 50px;
  text-align: center;
  padding-top: 2rem;
  color: white;
}

.row {
    margin: 2rem 2rem;
    margin-bottom: 20rem;
    display: grid;
    grid-gap: 2%;
}

/* Media Queries for Portfolio Section */

@media only screen and (min-width: 750px) {
  .row {
    grid-template-columns: 1fr 1fr;
    margin: 2rem 1rem;
    margin-bottom: 10rem;
  }
}

@media only screen and (min-width: 1200px) {
  .row {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Footer */

.page-footer {
  width: 100%;
  max-height: fit-content;
  text-align: center;
  margin: 0;
  padding: 1rem 0;
  background-color: #666666;
  color: white;
}

.link {
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  transition: all .3s ease-in-out;
}

.link:hover {
  color: #58A4B0;
}

.copyright {
  padding-top: 1rem;
}
